
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ if (Session["AdminName"] != null)
    {
        <h2 style="text-align: center; color:rosybrown">
            Welcome @Session["AdminName"].ToString()
        </h2><br />
        <h2 style="text-align: center; color:rosybrown">
            Admin DashBoard
        </h2><br />
    }
    else
    {
        <h2 style="text-align: center; color:rosybrown">
            Welcome...
        </h2><br />

        <h2 style="text-align: center; color:rosybrown">
            Admin DashBoard
        </h2><br />

    }
}

<table style="margin-left: auto; margin-right: auto;">
    <tr>
        <th>@Html.ActionLink("Login here", "Login")&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>@Html.ActionLink("Loan Status", "ChangeStatus")&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>@Html.ActionLink("Customers Details", "ViewCustomers")&nbsp;&nbsp;&nbsp;&nbsp;</th>
    </tr>

</table>

